@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");

@import "tailwindcss";
html {
  font-size: 16px;
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

body {
  @apply bg-sky-100;

  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}
